.Banner
{
    width: 100%;
    height: 40px;
    background-color: black;
}
.Tab
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Bahnschrift;
}
.Link,.Gmail
{
    text-decoration: none;
}
.Heading
{
    color: black;
    font-family: Bahnschrift;
}
.PInfo
{
    font-family:Bahnschrift;font-size:25px;
}
.Me
{
    width: 255px;
    position: absolute;
    top: 130px;
    right :50px;
    border: 4px;
}
.LastUpdate
{
    font-size: 15px;
    font-family: Bahnschrift;
    position: absolute;
    bottom: 0px;
     left: 44%;
}
